body {background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/07/origen-nombres-informatica-nunca-hubieras-imaginado_2.jpg);
color: rgb(250, 250, 250);
font-family: 'Play', sans-serif;
font-weight: 800;
}

h1 {text-align: center;}
h2 {text-align: center;}

/* codigo para header */
.proyectos {color: lime; text-decoration: none;}
.proyectos:hover {color: red;}
header p {text-align: center;}
.links {padding: 10px;}

/* codigo para main */
header h3 {text-align: center;}
main p {text-align: center;}

/* codigo para promos */
.pagos {max-width: fit-content; margin: 0 auto;}
.pagos ul li:hover {color: rgb(0, 255, 64);}

/* codigo para footer */
.final {max-width: fit-content; margin: 0 auto; background-color: rgba(0, 29, 9, 0);}

.final2 {
    display: flex;
}
.final2 li {list-style: none; margin: 10px;}
.redlink {text-decoration: none; color: lime;}
.logos {width: 50px;}
.logos:hover { transform: scale(1.1, 1.1); transition: ease 0.3s;}
.logopagos {width: 40px; margin-left: 10px;}
.logopagos2 {width: 70px; margin-left: 10px;}
.logospago {display: flex;}


@media (max-width: 280px) {
    .final2 li {margin: 0; padding: 0;}
}